{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>Welcome to Nano!</h1>
    <p>
      This docker image is used to demonstrate and reproduce all results of MMSYS 2019 paper:
      A Comparative Study of Video Annotation Tools for Scene Understanding: Yet (not) another Annotation Tool.
      The contributions made in this paper can be summarized as follows:
      <ul>
        <li> We summarize and review existing video annotation tools, their functionalities and provided features. </li>
        <li> We conduct an experimental evaluation based on a user study with 45 subjects aiming at investigating the extent of annotation efficiency using different video annotation tools. </li>
        <li> We analyze the impact of different video scenes, which cover varied annotation conditions, such as fast object or camera motion, camera panning and occlusion. </li>
        <li> We provide evaluation input as well as output data together with all required source code for analyzing the user study <a href="http://doi.org/10.5281/zenodo.2553888" target="_blank">http://doi.org/10.5281/zenodo.2553888</a>. </li>
      </ul>
    </p>

    <h3>Input Data</h3>
    <p>
      Input data for study and evaluations.
    </p>

    <h4>Videos</h4>
    <p>
      All videos utilized in the study.
    </p>

      <div><a href="downloads/videos/atest.mp4" target="_blank">atest.mp4</a></div>
      <div><a href="downloads/videos/endo.mp4" target="_blank">endo.mp4</a></div>
      <div><a href="downloads/videos/fortnite.mp4" target="_blank">fortnite.mp4</a></div>
      <div><a href="downloads/videos/tud.mp4" target="_blank">tud.mp4</a></div>
    <h4>Questionnaire</h4>
    <p>All utilized survey questions.</p>
    <div><a href="https://github.com/skletz/nano/blob/b52ec699771ba66764a5c89bc878ae54910f2f01/questionnaire/SURVEY.md" target="_blank">Download Survery</a></div>
    <div><a href="https://github.com/skletz/nano/blob/b52ec699771ba66764a5c89bc878ae54910f2f01/questionnaire/INTERVIEW.md" target="_blank">Download Interview</a></div>
    <h4>Study Data</h4>
    <p>
      All data gathered from study participants (calculated <a href="/iou">IoUs</a> with ground truth included).
    </p>
      <div><a href="downloads/study_data/user_study_data.csv" target="_blank">Download</a></div>
  </div>
{% endblock %}
